*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
sg_platform/settings/local.py
web/media
web/static/CACHE
stats
dockerfiles/
Makefile
.dockerignore
.gitignore
.env.development.local
test/